.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.modal.in {
    display:block;
}

.no-bottom-margin {
    margin-bottom: 0px;
}

body {
  padding-top: 50px;
}

.navbar-fixed-top {
  border: 0;
}

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}