<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal" role="form">

        <div class="form-group">
            <label for="expName" class="col-sm-2 control-label">Name</label>

            <div class="col-sm-10">
                <input type="text" class="form-control" id="expName" ng-model="experimentName"
                       placeholder="Experiment name">
            </div>
        </div>
        <div class="form-group">
            <label for="description" class="col-sm-2 control-label">Description</label>

            <div class="col-sm-10">
                <textarea class="form-control" id="description" ng-model="experimentDescription" rows="3"
                          placeholder="Description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="language" class="col-sm-2 control-label">Language</label>

            <div class="col-sm-10">
                <select id="language"
                        class="form-control"
                        ng-model="selectedLanguage"
                        ng-options="language.name for language in configuration.languages">
                </select>
            </div>
        </div>
        <div class="form-group">
            <!-- TODO: use http://timschlechter.github.io/bootstrap-tagsinput/examples/ -->
            <label for="languageWords" class="col-sm-2 control-label">Words</label>

            <div class="col-sm-10">
                <tags-input id="languageWords"
                            ng-model="selectedLanguage.words"
                            placeholder="Add a word"
                            add-from-autocomplete-only="true">
                    <auto-complete source="loadWords()"
                                   min-length="0"
                                   debounce-delay="0"
                                   max-results-to-show="10">
                    </auto-complete>
                </tags-input>
            </div>
        </div>

        <div class="form-group">
            <label for="iterations" class="col-sm-2 control-label">Iterations</label>

            <div class="col-sm-10">
                <input type="number" class="form-control" ng-model="iterations" name="iterations" placeholder="10">
            </div>
        </div>

        <div class="form-group">
            <label for="dataset" class="col-sm-2 control-label">Data set</label>

            <div class="col-sm-10">
                <select id="dataSetSelect"
                        class="form-control"
                        ng-model="selectedDataSet"
                        ng-options="dataset.path for dataset in datasets">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="variables" class="col-sm-2 control-label">Variables</label>

            <div class="col-sm-10">
                <tags-input id="variables"
                            ng-model="selectedDataSet.variables"
                            placeholder="Add a variable"
                            add-from-autocomplete-only="true">
                    <auto-complete source="loadVariables()"
                                   min-length="0"
                                   debounce-delay="0"
                                   max-results-to-show="10">
                    </auto-complete>
                </tags-input>
            </div>
        </div>

        <div class="form-group">
            <label for="maxHeight" class="col-sm-2 control-label">Max individual height</label>

            <div class="col-sm-10">
                <input type="number" class="form-control" ng-model="maxHeight" name="maxHeight" placeholder="7">
            </div>
        </div>

        <div class="form-group">
            <label for="populationSize" class="col-sm-2 control-label">Population size</label>

            <div class="col-sm-10">
                <input type="number" class="form-control" ng-model="populationSize" name="populationSize" placeholder="128">
            </div>
        </div>

        <div class="form-group">
            <label for="mutationProbability" class="col-sm-2 control-label">Mutation probability</label>

            <div class="col-sm-10">
                <input type="number" class="form-control" ng-model="mutationProbability" name="mutationProbability" placeholder="1">
            </div>
        </div>

        <div class="form-group">
            <label for="crossOverProbability" class="col-sm-2 control-label">Crossing over probability</label>

            <div class="col-sm-10">
                <input type="number" class="form-control" ng-model="crossOverProbability" name="crossOverProbability" placeholder="75">
            </div>
        </div>

        <div class="form-group">
            <label for="fitnessFunctionSelect" class="col-sm-2 control-label">Fitness function</label>

            <div class="col-sm-10">
                <select id="fitnessFunctionSelect"
                        class="form-control"
                        ng-model="selectedFitnessFunction"
                        ng-options="function in fitnessFunctions">
                </select>
            </div>
        </div>

    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Run</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
